/* MoK Colors
#1B512D darkest green
#1C7C54 2nd darkest green

#B1CF5F yellow green

#73E2A7 light green
#DEF4C6 white green
*/

/*defaults */
body{
	background-color: #DEF4C6;
  padding: 20px;
}


/* main title */
h1{
	background-color: #73E2A7; /* changing color for title background to match header */
	color:#1B512D;
	font-size:24px;
	text-align: center;
	word-spacing: 7px;
	padding: 5px;
}


/*section header */
h2{
	color: #1C7C54;
	/* ^^^ custom color */
	background-color: #73E2A7;
	word-spacing: 4px;
	padding: 5px;
}

/* paragraphy type header thing */
h3{
	/* here is hex */
	background-color: #73E2A7;
	color: #1C7C54;
	word-spacing: 2px;
	padding: 5px;
}

/* normal text */
p{
	color: #1C7C54;
	font-size: 12;
	margin-left: 25px;
	word-spacing: 2px;
}

/* quotes */
q{
	margin-left: 30px;
	color: #192BC2;
	font-size: 14;
	border-left:5px solid #4ef4e9;
	background-color: #78d2e0;
	word-spacing: 2px;

}

dl{
	font-size: 14;
	word-spacing: 4px;
	color: #1C7C54;
}

dt{
	font-size: 20;
	color: #1C7C54;
}

dd{
	font-size: 12;
	word-spacing: 2px;
	color: #1C7C54;
}

ul{
	font-size: 20;
	color: #1C7C54;
}

li{
	font-size: 14;
	word-spacing: 4px;
	color: #1C7C54;
}

/* Links! */
a:link{
	text-decoration: underline;
	color: #1B512D;
}

a:active{
	text-decoration: underline;
}





/* Initally coppied from
 https://www.w3schools.com/css/css_navbar.asp
 https://www.w3schools.com/howto/howto_css_dropdown.asp
 https://www.w3schools.com/css/css_dropdowns.asp
 then modified and stuff */

/* The navbar container, the entire bar */
.topnav {
overflow: hidden;
background-color: #150578;
font-size: 16px;
}

.topnav {
overflow: hidden;
background-color: #F06543;
}

/* Links - change color on hover */
.topnav-dropdown:hover , .topnav a:hover {
background-color: #f38368;
color: #000100;
}



/* Navbar links */
.topnav > a {
float: left;
background-color: inherit;
color: #000100;
text-align: center;
padding: 12px 16px;
text-decoration: underline;
font-size: 16px;
}

/* Dropdown down menue -
whats hovered over when you want to see the menu */
.dropbtn {
	background-color: inherit;
	color: #000100; /*  color: #150578;  */
	padding: 12px 16px;
	font-size: 16px;
	text-decoration: underline;

	border-style: none; /* so there's no weird 3d thing */
}

/*dropdown on the top nav
change it's properties related to the nav bar here*/
.topnav-dropdown {
float: left;
display: block;
text-align: center;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	float: none;
	display: none;
	position: absolute;
	background-color: #F06543;
	min-width: 160px;
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
	background-color: #F06543;
	color: #000100;
	padding: 12px 16px;
	text-decoration: underline;
	display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
/* colors the actual text you hover over to see the drop down */
.topnav-dropdown:hover .dropbtn {
	background-color: #f38368;
	color: #000100;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f38368; color: #000100;}

/* Show the dropdown menu on hover */
.topnav-dropdown:hover .dropdown-content {display: block;}


/* main title */
.header > h1{
  padding-top: 6px;
	color:#6E2594;
	font-size:24px;
	text-align: center;
	word-spacing: 7px;
		background-color: inherit;
}


/*Subtitle header */
.header > h2 {
	color: #086788;
  font-size:18px;
  text-align: center;
	word-spacing: 4px;
	background-color: inherit;

}

.header{
  background-color: #DE9151;
  border-style: groove;
  border-color: #FE9000;
}
