.grid{
  width: 100%;
}

.row1{
  display: flex;
}

.info-table{
  left: 1%;
  margin: 0px 0px 0px 1%;
  width: min-content;
  display: grid;
}

.info-table h1{
  /* table title */
  font-size: x-large;
  color:inherit;
  text-align: center;
  border-bottom-style: inherit;
  display: inline;
  padding: 0px 0px;
}

.info-table table{
  border-style: double;
  padding: 0px 2px;
}

.grid-item img {
 position: unset;
 width: 63%;
 max-width: 64%;
 height: auto;
 vertical-align: bottom;
 /* title image */
 border: 2px solid #ddd;
 margin: 0% 1%;
 overflow: hidden;
}

.grid-item{
  border-style: solid;
  border-color: #123455;
  width: 32%;
}

.hidden{
  display: none;
}


.project-links {
  height: max-content;
  display: flex;
  margin-bottom: 1%;
  margin-top: 1%;
}

.no-image.project-discription p {
  padding: 1% 1%;
}


.grid-item a:link {
  float: auto;
  vertical-align: center;
  border-style: solid;
  border-color: #636343;
  width: max-content;
  margin-left: 5%;
  margin-right: 5%;
  padding: 12px 16px;
}

a.table-link:link {
  border: none;
  padding: inherit;
  margin: inherit;
}

p.project-discription > a:link{
  border:none;
  margin: 0px 0px;
  padding: 0px 0px;
}


.grid-item button{
  float: none;
  vertical-align: baseline;
  display: inline;
}


.column-table {
  float: left;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.h1 {
  /* title txt */
  text-align: center;
  font-size: 28px;
  color: inherit;
}

.project-discription > *, .project-discription, article {
  /* article, main text */
  padding-left: 8px
  text-align: left;
  margin-left: 2px;
}


body{
  word-wrap: normal;
  padding: 5px 5px;
  vertical-align: top;
}


.is-checked{
  background-color: #906865;
}
