
/* Initally coppied from
 https://www.w3schools.com/css/css_navbar.asp
 https://www.w3schools.com/howto/howto_css_dropdown.asp
 https://www.w3schools.com/css/css_dropdowns.asp
 then modified and stuff */

/* The navbar container, the entire bar */
.topnav {
overflow: hidden;
background-color: #150578;
font-size: 16px;
}

/* Links - change color on hover */
.topnav-dropdown:hover , .topnav a:hover {
background-color: #449DD1;
color: #150578;
}

 /* Change color of dropdown links on hover */
 .dropdown-content a:hover {background-color: #449DD1; color: #150578;}

/* Navbar links */
.topnav > a {
float: left;
display: block;
background-color: inherit;
color: #449DD1;
text-align: center;
padding: 14px 16px;
text-decoration: underline;
font-size: 16px;
}

/* Dropdown down menue -
whats hovered over when you want to see the menu */
.dropbtn {
  background-color: inherit;
  color: #449DD1; /*  color: #150578;  */
  padding: 12px 16px;
  font-size: 16px;
  text-decoration: underline;

  border-style: none; /* so there's no weird 3d thing */
}

/*dropdown on the top nav
change it's properties related to the nav bar here*/
.topnav-dropdown {
float: left;
display: block;
text-align: center;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  float: none;
  display: none;
  position: absolute;
  background-color: #449DD1;
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  background-color: #449DD1;
  color: #150578;
  padding: 12px 16px;
  text-decoration: underline;
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
/* colors the actual text you hover over to see the drop down */
.topnav-dropdown:hover .dropbtn {
  background-color: #449DD1;
  color: #150578;
}

.dropdown-content a:hover {
  background-color: #6aacc4;
}

/* Show the dropdown menu on hover */
.topnav-dropdown:hover .dropdown-content {display: block;}

/* MoK Colors
#1B512D darkest green
#1C7C54 2nd darkest green

#B1CF5F yellow green

#73E2A7 light green
#DEF4C6 white green
*/

body {
  font-family: Arial;
  padding: 20px;
	background-color: #73E2A7;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: blue;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 95%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: #DEF4C6;
  padding: 20px;
  margin-top: 20px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

.card h1{
  	background-color: #73E2A7;
    color: #1C7C54;
}

.card h5{
  color: #1B512D;
}

.card p{
  color: #1C7C54;
	font-size: 12;
}
